.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-inline: 50px; */
  /* background-color: #B73E3E; */
  /* border-radius: 100px;
  padding: 10px;
  width: 90%; */
}

.nav > a {
  color: #B73E3E;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 10px;
  margin-left: 2%;
  font-weight: semi-bold;
}

.nav > a:hover {
  color: #5b1e1e;
}

.inst {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 5%;
  margin-left: 2%;
  border: #b73e3e15 2px solid;
  box-shadow: 0 0 10px #b73e3e2b;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(255, 247, 247);
  width: 60%;
}

.inst > h3 {
  text-align: left;
  align-self: flex-start;
  border-bottom: #B73E3E 2px solid;
  padding-bottom: 5px;
}

.inst > p {
  margin-left: 2%;
}

.inputs{
  margin-left: 2%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs > h3 {
  text-align: left;
  align-self: flex-start;
  border-bottom: #B73E3E 2px solid;
  padding-bottom: 5px;
}

/* .buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
} */
/* .navbar-nav-items > a {
  color: #555555;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
}

.navbar-nav-items > a:hover {
  color: black;
} */

.buttons{
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

/* .buttons > button {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: none;
  background-color: #B73E3E;
  color: #EDDBC0;
  font-weight: 500;
  cursor: pointer;
  padding-inline: 10px;
} */

#resetBtn {
  border: rgb(190, 22, 22) 1px solid;
  border-radius: 10px;
  background-color: white;
  color: rgb(190, 22, 22);
  cursor: pointer;
  padding-inline: 10px;
}

#resetBtn:hover {
  background-color: rgb(190, 22, 22);
  color: white;
  transition: 0.8s;
}

#exampleBtn {
  border: rgb(74, 74, 74) 1px solid;
  border-radius: 10px;
  background-color: white;
  color:  rgb(74, 74, 74);
  cursor: pointer;
  padding-inline: 10px;
}

#exampleBtn:hover {
  background-color: rgb(74, 74, 74);
  color: white;
  transition: 0.8s;
}

#exampleBtnSecond {
  border: rgb(74, 74, 74) 1px solid;
  border-radius: 10px;
  background-color: white;
  color:  rgb(74, 74, 74);
  cursor: pointer;
  padding-inline: 10px;
}

#exampleBtnSecond:hover {
  background-color: rgb(74, 74, 74);
  color: white;
  transition: 0.8s;
}

#new-transition {
  border: rgb(37, 147, 101) 1px solid;
  border-radius: 10px;
  background-color: white;
  color:  rgb(37, 147, 101);
  cursor: pointer;
  padding-inline: 10px;
}

#new-transition:hover {
  background-color: rgb(37, 147, 101);
  color: white;
  transition: 0.8s;
}

label {
  font-size: 15px;
}

#initialStateInput {
  margin-bottom: 5%;
  height: 20px;
  border-radius: 10px;
  border-width: 1.5px;
  padding-inline: 8px;
}

#finalStatesInput {
  margin-bottom: 5%;
  height: 20px;
  border-radius: 10px;
  border-width: 1.5px;
  padding-inline: 8px;
}

.current-state {
  width: 550px;
  height: 25px;
  border-radius: 15px;
  border-width: 1.5px;
  padding-inline: 5px;
}

.input-symbol {
  width: 550px;
  height: 25px;
  border-radius: 15px;
  border-width: 1.5px;
  padding-inline: 5px;
}

.next-states {
  width: 550px;
  height: 25px;
  border-radius: 15px;
  border-width: 1.5px;
  padding-inline: 5px;
}

div.production-row {
  min-height: 34px;
  margin: 5px 17px;
  font-size: larger;
  width: 100%;
}

#userInputs {
  margin-left: 2%;
}

#equiDFA {
  margin-left: 2%;
}

#current-nfa-status {
  margin-left: 2%;
}

#current-nfa {
  margin-left: 2%;
}

div .remove-button {
  margin-left: 5px;
}

div .remove-button:hover {
  cursor: pointer;
}

div.new-production {
  margin-top: 10px;
  min-width: 480px;
}

.production-row input {
  max-width: 55px;
}

#nfa {
  margin-top: 10px;
  padding: 10px 0px;
}

#current-nfa {
  margin-left: 15px;
  width: 500px;
}

.Stepbtn {
  /* Style for the step buttons */
  margin-left: 10px;
}
